*
!.gitignore
!*.bib
!*.bst
!*.css
!*.clo
!*.cls
!*.dot
!*.forest
!*.ipynb
!*.latexmain
!*.mdown
!*.py
!*.sty
!*.tex
!*.tikz
!notebooks/
!notebooks/**/
!pdf/
!pdf/**/*.pdf
!source/
!source/**/
!templates/
!templates/**/
!build/
